<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="tests" thread-count="1">
    <parameter name="terminal" value="pc"/>
    <parameter name="browserName" value="Chrome"/>
    <parameter name="deviceName" value="desktop"/>

    <!-- 若运行远端，则使用 hub 参数配置示例 -->
<!--    <parameter name="remoteIP" value="10.102.20.41"/>-->
<!--    <parameter name="remotePort" value="4444"/>-->
    <!--    <parameter name="browserVersion" value="79.0.3945.130"/>-->
    <!-- 测试套件 -->
    <suite-files>
        <suite-file path="pc_testng.xml"/>
    </suite-files>
    <suite-files>
        <suite-file path="web_testng.xml"/>
    </suite-files>

    <listeners>
        <listener class-name="com.tim.listener.TestLogListener"/>
        <listener class-name="com.tim.listener.TestReportListener"/>
    </listeners>
</suite>
